Screen {
    layout: grid;
    grid-size: 3 3;
    grid-rows: 5 1fr 20%;
    grid-columns: 1fr 30% 1fr;
}

.box {
    height: 100%;
    border: round gold;
}

#title {
    row-span: 2;
    padding: 4 1;
    text-align: center;
    text-style: italic;
}

#textbox {
    padding: 1;
}

#hive {
    padding: 4;
    text-align: center;
}

#answers {
    row-span: 2;
    padding: 1 2;
}
