$color: gold;

Screen {
    background: $background;
    layout: grid;
    grid-size: 3 3;
    grid-rows: 5 1fr 20%;
    grid-columns: 1fr 30% 1fr;
}

.box {
    height: 100%;
    border: round $color;
}

#title {
    row-span: 2;
    padding: 4 4;
    text-align: center;
    text-style: italic;
}

#textbox {
    background: $background;
    border-title-align: center;
    padding: 1 4;
}

#hive {
    padding: 4 4;
    text-align: center;
}

#answers {
    row-span: 2;
    padding: 1 2;
}
