$color: gold;
$error: red;

Screen {
    background: $background;
    layout: grid;
    grid-size: 3; /* columns */
    grid-columns: 1fr 30% 1fr;
}

.panel {
    height: 100%;
    border: round $color;
}

Input {
    height: 1;
    border: round grey;
    background: $background;
}

Input:focus {
    border: round white;
}

#title {
    height: 5;
    content-align: center middle;
}

#main-panel {
    height: 1fr;
}

#textbox {
    width: 20;
}

#error-msg {
    height: 3;
    width: auto;
    border: round $error;
    padding: 0 2;
}

#hive {
    height: 1fr;
    content-align: center top;
}

#info {
    padding: 1;
}

#answers {
    padding: 1 2;
}

#answer-search {
    margin: 0 1;
    dock: bottom;
}
